@{
    ViewBag.Title = "Realty 7 LLC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#home").addClass("active");
    });
</script>
<div style="margin-top:60px">
    <img src="~/Content/images/main.jpg" alt="Main Image" class="img-responsive animated fadeIn" />
    <div id="main-page-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="color-box">
                    <div class="text-box col-sm-11 col-xs-12">
                        <h1>Welcome to Realty 7!</h1>
                        <div style="font-weight:bold">From sales and rental of residential single family home, condominium, cooperative to commercial buildings, warehouse along with businesses, Realty 7 will be there every step of the way to provide level of service that will exceed your expectation. Give us a call and find out what a true meaning of service is all about!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
