@{
    ViewBag.Title = "Realty 7 LLC :: Search Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#search-property").addClass("active");
    });
</script>
<style>
    #mobile-banner {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
    }
</style><div class="main">
    <img id="mobile-banner" src="~/Content/images/search.jpg" class="img-responsive animated fadeIn" />

    <div class="jumbotron">
        @*        <div id="content" style="background: white; padding-top: 20px;">*@
        @* <iframe src="http://www.idxlistings.com/select.cfm?id=8421" height="700" frameborder="0" align="center" scrolling="auto"></iframe>*@
        <iframe src="https://idx.readvantage.com/564/index.cfm" height="700" frameborder="0" align="center" scrolling="auto"></iframe>
        @*</div>*@

    </div>
</div>
