@{
    ViewBag.Title = "Realty 7 LLC :: About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#about-us").addClass("active");
    });
</script>
<div class="main">
    <div class="main-page-1-upper-panel group">
        <div class="main-page-1-image-box">
            <img src="~/Content/images/AboutUs.jpg" alt="About Us Image" class="img-responsive animated fadeIn" />
        </div>
        <div class="main-page-1-color-box">
            <div class="main-page-text-box" style="padding:10px;">
                <h1>Thinking of selling or buying real estate?</h1>
                <div style="font-weight:bold; margin-bottom:10px">Let realty 7's highly skilled professionals assist you!</div>

                <div style="font-weight:bold"><p>We are the market leading specialist who can answer questions about every aspect of real estate services. Being an industry leader in both residential and commercial real estate, we have increased our business presence with consistent business ethic and impeccable reputation that complements our core value of care and seasoned abilities to represent clients with higher level of customized service. Furthermore, Realty 7's success derives from personal attention to every customer's needs, meeting individual criteria with our in depth knowledge of the market customer desires. A typical real estate transaction has multitude of steps including but not limited to offer and acceptance, attorney's review, deposit, inspection, mortgage, appraisal, title search, etc. With our proven record of successful closings, we'll aim to maximize your comfort during this arduous process. </p>

<p>From sales and rental of residential single family home, condominium, cooperative to commercial buildings, warehouse along with businesses, Realty 7 will be there every step of the way to provide level of service that will exceed your expectation. </p>

<p>Give us a call and find out what a true meaning of service is all about! </p></div>

            </div>
        </div>
    </div>
</div>
