@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKor.cshtml";
}
<br /><br />
<center>
<h2>We are sorry..</h2>

<br /><br />
<p>An unexpected error happened. We are informed with this event and will handle it in timely manner. You may use other parts of the site.</p>
<p>Realty 7 Web Team</p>
    <br /><br />
    <br /><br />
</center>