@{
    ViewBag.Title = "Realty 7 LLC :: Search Property";
    Layout = "~/Views/Shared/_LayoutKor.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#search-property").addClass("active");
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $("#banner").hide();
            $("#pc-menu").hide();
        } else {
            $("#mobile-menu").hide();
            $("#mobile-banner").hide();
        }
    });
</script>
<style>
    #mobile-banner {
        width: 100%;
        height: auto;
    }
    iframe {
        width:100%
    }
</style>
<embed name="banner" width="940" height="229" id="banner" src="/Content/flash/banner4.swf" type="application/x-shockwave-flash" wmode="transparent" quality="high" bgcolor="#ffffff">
<img id="mobile-banner" src="~/Content/images/bannerAboutUs.png" />
<div class="jumbotron">
@*        <div id="content" style="background: white; padding-top: 20px;">*@
	       @* <iframe src="http://www.idxlistings.com/select.cfm?id=8421" height="700" frameborder="0" align="center" scrolling="auto"></iframe>*@
            <iframe src="http://idx.readvantage.com/564/index.cfm?testMode=true" height="700" frameborder="0" align="center" scrolling="auto"></iframe>
        @*</div>*@

</div>