@{
    ViewBag.Title = "Realty 7 LLC :: Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#contacts").addClass("active");
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $("#banner").hide();
            $("#pc-menu").hide();
        } else {
            $("#mobile-menu").hide();
            $("#mobile-banner").hide();
        }
    });
</script>
<style>
    #mobile-banner {
        width: 100%;
        height: auto;
    }

    .side-menu {
        margin:10px 10px 10px 50px;
    }

    textarea {
    width : 350px;
    height : 150px;
}
</style>
<embed name="banner" width="940" height="229" id="banner" src="/Content/flash/banner.swf" type="application/x-shockwave-flash" wmode="transparent" quality="high" bgcolor="#ffffff"/>
<img id="mobile-banner" src="~/Content/images/bannerHome.png" />

      <div class="row">

      <div class="col-md-3" id="pc-menu">
            <div class="side-menu">@Html.ActionLink("Realty 7 Agents", "Index", "OurAgents", new { area = "eng" }, null)</div>
       </div>
        <div class="col-md-9" style="margin-top:10px">      
            <div class="col-md-6" style="margin-top:10px">
                <b>Realty 7 LLC (Fort Lee Office)</b><br />
                2160 North Central Rd. Suite 207<br />
                Fort Lee, NJ 07024<br />
                Office: 201-292-7777<br />
                Fax: 201-482-0423<br />
                Email: jamesleerealty7@gmail.com 
            </div>   
            <div class="col-md-12" style="margin-top:10px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3017.7368596276942!2d-73.9656155487981!3d40.855700779215105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f6c133ddb019%3A0x4eede7e8be0b215!2s2160+Central+Rd%2C+Fort+Lee%2C+NJ+07024!5e0!3m2!1sen!2sus!4v1456139231338" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
            </div>
     </div>
  
