@{
    ViewBag.Title = "Realty 7 LLC :: About Us";
    Layout = "~/Views/Shared/_LayoutKor.cshtml";
}


<script type="text/javascript">
    $(function () {
        $("#about-us").addClass("active");
    });
</script>
<div class="main">
    <div class="main-page-1-upper-panel group">
        <div class="main-page-1-image-box">
            <img src="~/Content/images/AboutUs.jpg" alt="About Us Image" class="img-responsive animated fadeIn" />
        </div>
        <div class="main-page-1-color-box">
            <div class="main-page-text-box" style="padding:10px;">
                <h1>부동산에 관한 도움이 필요하십니까?</h1>
                <div style="font-weight:bold; margin-bottom:10px">Relaty 7의 유능한 에이젼트 들이 도와 드리겠습니다.</div>

                <div style="font-weight:bold">Realty 7 에 오신것을 환영합니다. Realty7 은 20년 이상된 베테랑 Agent 3명이 2005년 4월에 설립한 한인 부동산 회사 입니다. Realty 7 은 Fort Lee, 버겐카운티를 중심으로한 뉴져지와 뉴욕 지역을 서비스 하고 있습니다. Realty7 은 130여 명의 Agent 가 일하고 있는 명실공히 미동부 최대의 한인 부동산 회사입니다. Realty 7은 주택, 상용, 비지니스 매매 및 투자와 관리 대행을 해드리고 있습니다. 더 궁금하신 점이 있으시면 저희에게 연락 주십시요. 감사합니다.</div>

            </div>
        </div>
    </div>
    @*<img src="~/Content/images/AboutUs.jpg" alt="Main Image" class="img-responsive animated fadeIn" />
    <div id="main-page-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="color-box">
                    <div class="text-box col-sm-11 col-xs-12">
                        <h1>부동산에 관한 도움이 필요하십니까?</h1>
                        <div style="font-weight:bold">Relaty 7의 유능한 에이젼트 들이 도와 드리겠습니다.</div>

                        <div style="font-weight:bold">Realty 7 에 오신것을 환영합니다. Realty7 은 20년 이상된 베테랑 Agent 3명이 2005년 4월에 설립한 한인 부동산 회사 입니다. Realty 7 은 Fort Lee, 버겐카운티를 중심으로한 뉴져지와 뉴욕 지역을 서비스 하고 있습니다. Realty7 은 130여 명의 Agent 가 일하고 있는 명실공히 미동부 최대의 한인 부동산 회사입니다. Realty 7은 주택, 상용, 비지니스 매매 및 투자와 관리 대행을 해드리고 있습니다. 더 궁금하신 점이 있으시면 저희에게 연락 주십시요. 감사합니다.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>
