@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="뉴저지 부동산, 뉴저지,부동산,new jersey,real estate,real,estate,agent,rent,home,house,apartment,bergen county" />
    <meta name="description" content="뉴저지 부동산 전문인 Realty 7 New Jersey real estate agent house apartment Bergen county" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")   
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/swfobject.js"></script>
    <style>
        html { height: 100%; overflow: hidden; }
        #intro { height: 100%; }
        body { height: 100%; margin: 0px; padding: 0px }
    </style>
</head>

<body>
    <script>
        window.location.replace("https://www.realty7.us");
    </script>
         <div class="row" style="text-align:center;padding:40px 20px 20px 20px">
             <img src="~/Content/images/Realty7Splash.png"/>
         </div>
         <div class="row" style="text-align:center;padding:20px 0px">
             <div style="margin-bottom:5px"><a href="/kor">한국어를 원하시면 클릭하세요</a></div>
             <div><a href="/kor"><img src="~/Content/images/Korean.png"/></a></div>
         </div>
         <div class="row" style="text-align:center;padding:20px 0px">
             <div style="margin-bottom:5px"><a href="/eng">Please click here for English</a></div>
             <div><a href="/eng"><img src="~/Content/images/English.png"/></a></div>
         </div>

</body>
</html>
